* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
    background: black;
}

h2 {
    color: #fff;
    user-select: none;
    font-weight: 700;
    font-size: 26px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 8px 16px;
    margin-left: 20px;
    font-weight: 600;
    color: #fff;
    transition: .1s;
}

nav a:hover {
    background: #fff;
    color: black;
    padding: 8px 16px;
    border-radius: 16px;
}

.active {
    background: #fff;
    color: black;
    padding: 8px 16px;
    border-radius: 16px;
}

